h1 {
    font-size: 100px;
    color:white;
    
}

body {
    text-align: center;
    background-color: black;
    color: white;
}
p{
    font-size: 20px;
    
}
a{
    color: rgb(17, 96, 122);
    font-size: 20px;
}